[submodule "elf"]
	path = elf
	url = https://github.com/MicroRJ/elf
[submodule "kit"]
	path = kit
	url = https://github.com/rxi/kit
[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio
